.container {
  padding-top: 15px;
}

table {
  width: 100%;
  text-align: left;
}

th.mat-header-cell {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.c1 {
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
