<div *ngIf="this.isReady" [ngClass]="{'theme':themeService.isDarkMode}" class="container">
  <mat-form-field>
    <!--suppress HtmlFormInputWithoutLabel -->
    <input (keyup)="applyFilter($event.target.value) //noinspection UnresolvedVariable" matInput placeholder="Filter">
  </mat-form-field>

  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th *matHeaderCellDef mat-header-cell> Index</th>
      <td *matCellDef="let element" mat-cell> {{element.index}} </td>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="topic">
      <th *matHeaderCellDef mat-header-cell> Score</th>
      <!--suppress TypeScriptUnresolvedVariable -->
      <td *matCellDef="let element" mat-cell> {{element.topic}} </td>
    </ng-container>

    <!-- Text Column -->
    <ng-container matColumnDef="value">
      <th *matHeaderCellDef mat-header-cell> Text</th>
      <td *matCellDef="let element" mat-cell> {{element.value}} </td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
