@import url('../node_modules/bootstrap/dist/css/bootstrap.css');
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  display: block;
  height: 100%;
}

html {
  height: 100%;
  display: block;
}
