<div class="container" *ngIf="this.isReady">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Parameter Column -->
    <ng-container matColumnDef="parameter">
      <th mat-header-cell *matHeaderCellDef> Parameter </th>
      <td mat-cell *matCellDef="let element"> {{element.parameter}} </td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <!-- Category Value Column -->
    <ng-container matColumnDef="categoryValue">
      <th mat-header-cell *matHeaderCellDef> Category Value </th>
      <td mat-cell *matCellDef="let element"> {{element.categoryValue}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
