<div *ngIf="this.isReady" [ngClass]="{'unicorn-dark-theme':themeService.isDarkMode}" class="container">

  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

    <!-- Parameter Column -->
    <ng-container matColumnDef="parameter">
      <th *matHeaderCellDef mat-header-cell> Parameter</th>
      <td *matCellDef="let element" mat-cell> {{element.parameter}} </td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th *matHeaderCellDef mat-header-cell> Value</th>
      <td *matCellDef="let element" mat-cell> {{element.value}} </td>
    </ng-container>

    <!-- Category Value Column -->
    <ng-container matColumnDef="categoryValue">
      <th *matHeaderCellDef mat-header-cell> Category Value</th>
      <td *matCellDef="let element" mat-cell> {{element.categoryValue}} </td>
    </ng-container>


    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
</div>
