<div class="container" *ngIf="this.privacyPolicyService.privacyPolicyData">
  <table id="statistical_table" class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">Parameter</th>
      <th scope="col">Value</th>
      <th scope="col">Category Value</th>
    </tr>
    </thead>
    <tbody id="t_body">
    <tr *ngFor="let tableRow of this.privacyPolicyService.privacyPolicyData.table">
      <th scope="row" id="t_body_row1">{{tableRow.parameter}}</th>
      <td>{{tableRow.value}}</td>
      <td>{{tableRow.categoryValue}}</td>
    </tr>
    </tbody>
  </table>
</div>
