.form-group {
  margin-top: 15px;
  display: flex;
}


.form-control {
  float: left;
}

button {
  float: right;
  height: fit-content;
  width: 110px;
}

.example-form {
  display: flex;
}

.example-full-width {
  width: 100%;
}

mat-form-field {
  padding-right: 10px;
}
