<div [ngClass]="{'theme': themeService.isDarkMode}" class="container">
  <form (ngSubmit)="getPrivacyPolicyData()" class="example-form">
    <mat-form-field class="example-full-width" color="primary">
      <!--suppress HtmlFormInputWithoutLabel -->
      <input [formControl]="pPUrl" matInput placeholder="Privacy Policy URL">
      <mat-error *ngIf="pPUrl.hasError('required')">
        Privacy policy URL is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button [disabled]="this.privacyPolicyService.progressBar || pPUrl.hasError('required')" color="primary" mat-raised-button
            type="submit">{{!this.privacyPolicyService.progressBar ?
      "Submit" :
      "Loading..."}}
    </button>
  </form>
</div>
<app-test *ngIf="privacyPolicyService.progressBar"></app-test>
