.form-group {
  margin-top: 15px;
  display: flex;
}

.spinner-border {
  display: inline;
  align-self: center;
  margin-right: 10px;
}

.form-control {
  float: left;
}

.btn {
  float: right;
  display: inline-flex;
  margin-left: 10px;
}
