.form-group {
  margin-top: 15px;
  display: flex;
}


.form-control {
  float: left;
}

button {
  float: right;
  display: inline-flex;
  margin-left: 10px;
  height: fit-content;
}

.example-form {
  display: flex;
}

.example-full-width {
  width: 100%;
}
