<div class="container">
  <form (ngSubmit)="getPrivacyPolicyData()">
    <div class="form-group">
      <input type="text" class="form-control" [formControl]="urlFormControl" placeholder="Privacy Policy Url">
      <button mat-raised-button color="primary" type="submit" *ngIf="!this.privacyPolicyService.progressBar">Submit
      </button>
      <button mat-raised-button color="primary" class="btn btn-primary" type="submit" disabled
              *ngIf="this.privacyPolicyService.progressBar">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...
      </button>
    </div>
  </form>
</div>
<app-test *ngIf="privacyPolicyService.progressBar"></app-test>
